<head>
  <link rel="stylesheet" href="number.css">
  <link rel="stylesheet" href="application.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

</head>

<%= link_to recommendations_path do %>
   <%= image_tag "back.png", width: 40, height: 40%>
<% end %>

<div class="store">
    <%= Recommendation.find_name($current_recommendation.store[0]) %>
</div>

<br>
<br>


<%# <p> this data was last refreshed at: </p>
<%= $last_data_refresh[0] %> 

<div class="list">
    <table>
    <tbody>
    
    <% unknown = [] %>

    <% for x in 0..$products.length()-1%>
        <tr>
            <% if ($products[x].nil?)%>
            <% unknown.push($list[x]) %>
            <% else %>
                <% if ($products[x].nil?) %>
                    
                <% else %>
                    <td><%= $products[x] %> </td>
                <% end %>
                <% if ($quantities[x] > 1) %>
                    <td> (<%= $quantities[x] %>) </td>
                <% else %>
                    <td> <%= "   " %> </td>
                <% end %>
                <% if ($prices[x].nil?) %>
                    
                <% else %>
                    <% if ($quantities[x] > 1) %>
                        <% price = $prices[x] * $quantities[x] %>
                        <td> <%= price %> </td>
                    <% else %>
                        <td><%= $prices[x] %> </td>
                    <% end %>
                <% end %>
                <% if ($is_sale[x].nil?) %>
                    
                <% else %>
                    <% if ($is_sale[x] == true) %>
                        <td><%= $is_sale[x] %>, until <%= $sale_dates[x] %></td> 
                    <% else %>
                        
                    <% end %>
                <% end %>
                
            <% end %>
        </tr>

    <% end %>
    </tbody>
    </table>

</div>

<br>
<br>

<div class = "total-price">
    <div class="total">
        Total: 
    </div>

    <div class="price">
        <%= $current_recommendation.subtotal %>
    </div>
</div>

<br>

<% if unknown.length() > 0%>
<div class = "not-found">
    Note: 
    <% for x in 0..unknown.length()-1%>

        <% if x != unknown.length()-1%>
            <%= unknown[x] %>, 
        <% else %>
            <%= unknown[x] %>
        <% end %>

    <% end %>
    not found at <%= Recommendation.find_name($current_recommendation.store[0]) %>
</div>
<% end %>


<div class = "save">
    Take a screenshot of this page to save it for later!
</div>

