<h1>SmartCart</h1>
<h2><%= $current_recommendation.store %></h2>
<p> subtotal: <%= $current_recommendation.subtotal %></p>

<p> here is your list: </p>
<%= $list %>

<p> here is your recommendation: </p>
<table>
<tbody>
    <tr>
        <th> PRODUCT </th>
        <th> PRICES </th>
        <th> IS_SALE </th>
        <th> STORE </th>
    </tr>

<% for x in 0..$products.length()-1%>
    <tr>
        <% if ($products[x].nil? && $prices[x].nil? && $is_sale[x].nil?)%>
            <td> Sorry, we couldn't find your product! </td>
        <% else %>
            <% if ($products[x].nil?) %>
                <td>no product available sorry</td>
            <% else %>
                <td><%= $products[x] %> </td>
            <% end %>
            <% if ($prices[x].nil?) %>
                <td>no price available sorry</td>
            <% else %>
                <% if ($quantities[x] > 1) %>
                    <td><%= $prices[x] %> x <%= $quantities[x] %></td>
                <% else %>
                    <td><%= $prices[x] %> </td>
                <% end %>
            <% end %>
            <% if ($is_sale[x].nil?) %>
                <td>not available sorry</td>
            <% else %>
                <td><%= $is_sale[x] %> </td>
            <% end %>
            <td><%= $stores[x] %> </td>
        <% end %>
    </tr>
<% end %>
</tbody>
</table>

<p><%= link_to 'Return to all recommendations', recommendations_path %></p>