<head>
  <link rel="stylesheet" href="number.css">
  <link rel="stylesheet" href="application.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

</head>

<%= link_to recommendations_path do %>
   <%= image_tag "back.png", width: 40, height: 40%>
<% end %>

<% if $current_recommendation.store.length() == 1%> 

    <div class="store">
        <%= Recommendation.find_name($current_recommendation.store[0]) %>
    </div>

    <br>
    <br>

    <%# <p> this data was last refreshed at: </p>
    <%= $last_data_refresh[0] %> 

    <div class="list">
        <table>
        <tbody>
        
        <% unknown = [] %>

        <% for x in 0..$products.length()-1%>
            <tr>
                <% if ($products[x].nil?)%>
                <% unknown.push($list[x]) %>
                <% else %>
                    <% if ($products[x].nil?) %>
                        
                    <% else %>
                        <% if Recommendation.find_name($current_recommendation.store[0]) == "Sobeys" || Recommendation.find_name($current_recommendation.store[0]) == "Freshco" || Recommendation.find_name($current_recommendation.store[0]) == "Food Basics" || Recommendation.find_name($current_recommendation.store[0]) == "FreshCo" || Recommendation.find_name($current_recommendation.store[0]) == "Walmart" %>
                            <td class = "list-item"><%= $list[x] %> </td>
                        <% else %>
                            <td><%= $products[x] %> </td>
                        <% end %>
                       
                    <% end %>
                    <% if ($quantities[x] > 1) %>
                        <td> (<%= $quantities[x] %>) </td>
                    <% else %>
                        <td> <%= "   " %> </td>
                    <% end %>
                    <% if ($prices[x].nil?) %>
                        
                    <% else %>
                        
                        <% if ($quantities[x] > 1) %>
                            <% price = $prices[x].round(2) * $quantities[x] %>
                            <td> $<%= price %> </td>
                        <% else %>
                            <td>$<%= $prices[x].round(2) %> </td>
                        <% end %>
                    
                    <% end %>
                    <% if ($is_sale[x].nil?) %>
                        
                    <% else %>
                        <% if ($is_sale[x] == true) %>
                            <div class = "sale">
                                <div class = "sale-tag">
                                    <td> <img src="<%= asset_path('sale.png') %>" width="20" height="20"> </td>
                                </div>
                                <div class = "until">
                                    <td> until <%= $sale_dates[x] %></td> 
                                </div>
                            </div>
                        <% else %>
                            
                        <% end %>
                    <% end %>
                    
                <% end %>
            </tr>

        <% end %>
        </tbody>
        </table>

    </div>

    <br>
    <br>

    <div class = "total-price">
        <div class="total">
            Total: 
        </div>

        <div class="price">
            $<%= $current_recommendation.subtotal %>
        </div>
    </div>

    <br>

    <% if unknown.length() > 0%>
    <div class = "not-found">
        Note: 
        <% for x in 0..unknown.length()-1%>

            <% if x != unknown.length()-1%>
                <%= unknown[x] %>, 
            <% else %>
                <%= unknown[x] %>
            <% end %>

        <% end %>
        not found at <%= Recommendation.find_name($current_recommendation.store[0]) %>
    </div>
    <% end %>

<% else %>

    <div class="store">
        <%= Recommendation.find_name($current_recommendation.store[0]) %>
    </div>

    <br>
    <br>

    <div class="list">
        <table>
        <tbody>
        
        <% unknown = [] %>
        <% first_store_subtotal = 0 %>

        <% for x in 0..$first_store_products.length()-1%>
            <tr>
                <% if ($first_store_products[x].nil?)%>
                <% unknown.push($list[x]) %>
                <% else %>
                    <% if ($first_store_products[x].nil?) %>
                        
                    <% else %>
                        <% if Recommendation.find_name($current_recommendation.store[0]) == "Sobeys" || Recommendation.find_name($current_recommendation.store[0]) == "Freshco" || Recommendation.find_name($current_recommendation.store[0]) == "Food Basics" || Recommendation.find_name($current_recommendation.store[0]) == "FreshCo" || Recommendation.find_name($current_recommendation.store[0]) == "Walmart" %>
                            <td class = "list-item"><%= $first_store_list[x] %> </td>
                        <% else %>
                            <td><%= $first_store_products[x] %> </td>
                        <% end %>
                    <% end %>
                    <% if ($first_store_quantities[x] > 1) %>
                        <td> (<%= $first_store_quantities[x] %>) </td>
                    <% else %>
                        <td> <%= "   " %> </td>
                    <% end %>
                    <% if ($first_store_prices[x].nil?) %>
                        
                    <% else %>
                        
                        <% if ($first_store_quantities[x] > 1) %>
                            <% price = $first_store_prices[x].round(2) * $first_store_quantities[x] %>
                            <td>$<%= price %> </td>
                            <% first_store_subtotal += price %>
                        <% else %>
                            <td>$<%= $first_store_prices[x].round(2) %> </td>
                            <% first_store_subtotal += $first_store_prices[x].round(2) %>
                        <% end %>
                    
                    <% end %>
                    <% if ($first_store_is_sale[x].nil?) %>
                        
                    <% else %>
                        <% if ($first_store_is_sale[x] == true) %>
                            <div class = "sale">
                                <div class = "sale-tag">
                                    <td> <img src="<%= asset_path('sale.png') %>" width="20" height="20"> </td>
                                </div>
                                <div class = "until">
                                    <td> until <%= $first_store_sale_date[x] %></td> 
                                </div>
                            </div>
                        <% else %>
                            
                        <% end %>
                    <% end %>
                    
                <% end %>
            </tr>

        <% end %>
        </tbody>
        </table>

    </div>

    <br>
    <br>

    <div class = "total-price">
        <div class="total">
            Subtotal: 
        </div>

        <div class="price">
            $<%= first_store_subtotal %>
        </div>
    </div>

    <div class="store" style="padding-top: 40px;">
        <%= Recommendation.find_name($current_recommendation.store[1]) %>
    </div>

    <br>
    <br>

    <div class="list">
        <table>
        <tbody>

        <% second_store_subtotal = 0 %>

        <% for x in 0..$second_store_products.length()-1%>
            <tr>
                <% if ($second_store_products[x].nil?)%>
                <% unknown.push($list[x]) %>
                <% else %>
                    <% if ($second_store_products[x].nil?) %>
                        
                    <% else %>
                        <% if Recommendation.find_name($current_recommendation.store[1]) == "Sobeys" || Recommendation.find_name($current_recommendation.store[1]) == "Freshco" || Recommendation.find_name($current_recommendation.store[1]) == "Food Basics" || Recommendation.find_name($current_recommendation.store[1]) == "FreshCo" || Recommendation.find_name($current_recommendation.store[1]) == "Walmart" %>
                            <td class = "list-item"><%= $second_store_list[x] %> </td>
                        <% else %>
                            <td><%= $second_store_products[x] %> </td>
                        <% end %>
                        
                    <% end %>
                    <% if ($second_store_quantities[x] > 1) %>
                        <td> (<%= $second_store_quantities[x] %>) </td>
                    <% else %>
                        <td> <%= "   " %> </td>
                    <% end %>
                    <% if ($second_store_prices[x].nil?) %>
                        
                    <% else %>
                        
                        <% if ($second_store_quantities[x] > 1) %>
                            <% price = $second_store_prices[x].round(2) * $second_store_quantities[x] %>
                            <td> $<%= price %> </td>
                            <% second_store_subtotal += price %>
                        <% else %>
                            <td>$<%= $second_store_prices[x].round(2) %> </td>
                            <% second_store_subtotal += $second_store_prices[x].round(2) %>
                        <% end %>
                    
                    <% end %>
                    <% if ($second_store_is_sale[x].nil?) %>
                        
                    <% else %>
                        <% if ($second_store_is_sale[x] == true) %>
                            <div class = "sale">
                                <div class = "sale-tag">
                                    <td> <img src="<%= asset_path('sale.png') %>" width="20" height="20"> </td>
                                </div>
                                <div class = "until">
                                    <td> until <%= $second_store_sale_date[x] %></td> 
                                </div>
                            </div>
                        <% else %>
                            
                        <% end %>
                    <% end %>
                    
                <% end %>
            </tr>

        <% end %>
        </tbody>
        </table>

    </div>

    <br>
    <br>

    <div class = "total-price">
        <div class="total">
            Subtotal: 
        </div>

        <div class="price">
            $<%= second_store_subtotal %>
        </div>
    </div>

    <br>
    <br>

    <div class = "total-price">
        <div class="total">
            Total: 
        </div>

        <div class="price">
            $<%= $current_recommendation.subtotal %>
        </div>
    </div>

    <br>

    <% if unknown.length() > 0%>
    <div class = "not-found">
        Note: 
        <% for x in 0..unknown.length()-1%>

            <% if x != unknown.length()-1%>
                <%= unknown[x] %>, 
            <% else %>
                <%= unknown[x] %>
            <% end %>

        <% end %>
        not found at <%= Recommendation.find_name($current_recommendation.store[0]) %> and <%= Recommendation.find_name($current_recommendation.store[1]) %>
    </div>
    <% end %>

<% end %>


<div class = "save">
    Take a screenshot of this page to save it for later!
</div>

