<head>
  <link rel="stylesheet" href="all_recommendations.css">
  <link rel="stylesheet" href="application.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

</head>

<div class = "recommendations">
    Recommendations
</div>

<div class = refresh>
    Based on data as of <%= $last_data_refresh[0] %> 
</div>

<br>
<br>

<div class = "text">
    Below are your top 3 recommendations based on your list!
</div>
<br>

<% i = 0 %>
<% for x in $stores %>
  

    <% if (x.length == 1) %>
        <div class="rec-tile">
            <div class="store-name"><%= Recommendation.find_name(x[0]) %></div>
            <a href="/recommendations/<%= i + 1 %>">
            <span class="link"></span>
            </a>
            
            <% if (x == $stores[0])%>
                <%= image_submit_tag("trophy.png", class: "trophy")%>
            <% end %>
            <p class="subtotal">$<%= $subtotals[i]%></p>
            <%= image_submit_tag("chevron.png", class: "chevron")%>

            <br>
            <br>
            <br>

            <div class = "note">
                Note: <%= $unknown[0]%> not found at this store.
            </div>

            
        </div>
        <% i = i + 1 %>
        <% if (x != $stores[2])%>
            <hr class="line">
        <% end %>
    <% else %>
        <div class="rec-tile">
            <div>
                <div class="store-name"><%= Recommendation.find_name(x[0]) %></div>
                <div class="second-store-name"><%= Recommendation.find_name(x[1]) %></div>
            </div>
            <a href="/recommendations/<%= i + 1 %>">
            <span class="link"></span>
            </a>
            <% if (x == $stores[0])%>
                <%= image_submit_tag("trophy.png", class: "trophy")%>
            <% end %>
            <p class="subtotal">$<%= $subtotals[i]%></p>
            <%= image_submit_tag("chevron.png", class: "chevron")%>
        </div>
        <% i = i + 1 %>
        <% if (x != $stores[2])%>
            <hr class="line">
        <% end %>
    <% end %>
<% end %>


<%= $hash %>

<div class = "unit-price">
    Subtotals are constructed based on per-unit pricing.
</div>