<head>
  <link rel="stylesheet" href="all_recommendations.css">
  <link rel="stylesheet" href="application.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

</head>

<%= link_to lists_path do %>
   <%= image_tag "back.png", width: 40, height: 40%>
<% end %>

<div class = "recommendations">
    Recommendations
</div>

<br>
<br>

<% i = 0 %>
<% for x in $stores %>
    <% if (x.length == 1) %>
        <div class="rec-tile">
            <div class="store-name">
                <% if Recommendation.find_name(x[0])== "No Frills" %>
                    <img src="<%= asset_path('NoFrills.svg.png') %>" width="120" height="18">
                <% elsif Recommendation.find_name(x[0])== "Food Basics" %>
                    <img src="<%= asset_path('FoodBasics.png') %>" width="75" height="40">
                <% elsif Recommendation.find_name(x[0])== "FreshCo" %>
                    <img src="<%= asset_path('FreshCo.png') %>" width="90" height="27">
                <% elsif Recommendation.find_name(x[0])== "Sobeys" %>
                    <img src="<%= asset_path('Sobeys.png') %>" width="125" height="50">
                <% elsif Recommendation.find_name(x[0])== "Valu-mart" %>
                    <img src="<%= asset_path('Valumart.png') %>" width="120" height="18">
                <% elsif Recommendation.find_name(x[0])== "Walmart" %>
                    <img src="<%= asset_path('Walmart.webp') %>" width="125" height="40">
                <% elsif Recommendation.find_name(x[0])== "Zehrs" %>
                    <img src="<%= asset_path('Zehrs.webp') %>" width="115" height="40">
                <% end %>

            </div>
            <a href="/recommendations/<%= i + 1 %>">
            <span class="link"></span>
            </a>
            <% if (x == $stores[0])%>
                <%= image_submit_tag("trophy.png", class: "trophy")%>
            <% end %>
            <p class="subtotal">$<%= $subtotals[i]%></p>
            <%= image_submit_tag("chevron.png", class: "chevron")%>
        </div>
        <% i = i + 1 %>
        <% if (x != $stores[2])%>
            <hr class="line">
        <% end %>
    <% else %>
        <div class="rec-tile">
            <div>
                <div class="store-name">
                    <% if Recommendation.find_name(x[0])== "No Frills" %>
                        <img src="<%= asset_path('NoFrills.svg.png') %>" width="120" height="18">
                    <% elsif Recommendation.find_name(x[0])== "Food Basics" %>
                        <img src="<%= asset_path('FoodBasics.png') %>" width="75" height="40">
                    <% elsif Recommendation.find_name(x[0])== "FreshCo" %>
                        <img src="<%= asset_path('FreshCo.png') %>" width="90" height="27">
                    <% elsif Recommendation.find_name(x[0])== "Sobeys" %>
                        <img src="<%= asset_path('Sobeys.png') %>" width="125" height="50">
                    <% elsif Recommendation.find_name(x[0])== "Valu-mart" %>
                        <img src="<%= asset_path('Valumart.png') %>" width="120" height="18">
                    <% elsif Recommendation.find_name(x[0])== "Walmart" %>
                        <img src="<%= asset_path('Walmart.webp') %>" width="125" height="40">
                    <% elsif Recommendation.find_name(x[0])== "Zehrs" %>
                        <img src="<%= asset_path('Zehrs.webp') %>" width="115" height="40">
                    <% end %>
                </div>

                <div class="second-store-name">
                <% if Recommendation.find_name(x[1])== "No Frills" %>
                    <img src="<%= asset_path('NoFrills.svg.png') %>" width="120" height="18">
                <% elsif Recommendation.find_name(x[1])== "Food Basics" %>
                    <img src="<%= asset_path('FoodBasics.png') %>" width="75" height="40">
                <% elsif Recommendation.find_name(x[1])== "FreshCo" %>
                    <img src="<%= asset_path('FreshCo.png') %>" width="90" height="27">
                <% elsif Recommendation.find_name(x[1])== "Sobeys" %>
                    <img src="<%= asset_path('Sobeys.png') %>" width="125" height="50">
                <% elsif Recommendation.find_name(x[1])== "Valu-mart" %>
                    <img src="<%= asset_path('Valumart.png') %>" width="120" height="18">
                <% elsif Recommendation.find_name(x[1])== "Walmart" %>
                    <img src="<%= asset_path('Walmart.webp') %>" width="125" height="40">
                <% elsif Recommendation.find_name(x[1])== "Zehrs" %>
                    <img src="<%= asset_path('Zehrs.webp') %>" width="115" height="40">
                <% end %>
                </div>
            </div>
            <a href="/recommendations/<%= i + 1 %>">
            <span class="link"></span>
            </a>
            <% if (x == $stores[0])%>
                <%= image_submit_tag("trophy.png", class: "trophy")%>
            <% end %>
            <p class="subtotal">$<%= $subtotals[i]%></p>
            <%= image_submit_tag("chevron.png", class: "chevron")%>
        </div>
        <% i = i + 1 %>
        <% if (x != $stores[2])%>
            <hr class="line">
        <% end %>
    <% end %>
<% end %>


<%= $hash %>