<head>
  <link rel="stylesheet" href="instructions.css">
  <link rel="stylesheet" href="application.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">


</head>

<div class = "header">
    <div class="logo">
      <%= link_to root_path do %>
      <%= image_tag "logo.png", width: 90, height: 38%>
      <% end %>
    </div>

    <div class="close">
      <%= link_to lists_path do %>
      <%= image_tag "x.png", width: 30, height: 30%>
      <% end %>
    </div>
</div>

<br>

<div class="subhead">
  <b>How this works:</b>
</div>

<br>

<div class = "steps">
<ol>
  <li> Select how many stores you want to visit to purchase the items on your list (only 1 store or up to 2 stores) </li>
  <br>
  <li> Add items to create your grocery list </li>
  <br>
  
  For better results, be as descriptive as possible. For example: 2% milk, gluten-free sliced bread, medium cheddar cheese.
  
  <br>
  <br>
  <li> You’ll view your options for which store(s) to go to based on the price breakdown </li>

  <br>

  
  <br>
  </ol>
</div>

<div class = "buttons">
    <%= link_to "Back", instructions_path, class: "back" %>
    <%= link_to "Next", instr_stores_path, class: "next" %>
</div>