<head>
  <link rel="stylesheet" href="instructions.css">
  <link rel="stylesheet" href="application.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">


</head>

<div class = "header">
    <div class="logo">
      <%= link_to root_path do %>
      <%= image_tag "logo.png", width: 90, height: 38%>
      <% end %>
    </div>

    <div class="close">
      <%= link_to lists_path do %>
      <%= image_tag "x.png", width: 30, height: 30%>
      <% end %>
    </div>
</div>

<br>

<div class="subhead">
  <b> Stores we consider: </b>
</div>

<br>

<div class = "text">
  Below are the stores that we currently have pricing data for and will consider in our recommendations!
</div>


<ul class="columns">
  <li>No Frills</li>
  <li>Walmart</li>
  <li>Zehrs</li>
  <li>Valumart</li>
  <li>Freshco</li>
  <li>Sobeys</li>
  <li>Food Basics</li>
</ul>

<br>

<div class = "text">
    By using our app, you acknowledge and agree to our  <%= link_to "Terms and Conditions", terms_path %>
</div>

<br>

<div class="hapshop">
  <b>Happy shopping!</b>
</div>

<br>

<div class = "buttons">
    <%= link_to "Back", how_path, class: "back" %>
    <%= link_to "Build List", lists_path, class: "next" %>
</div>