<%= form_with model: list, url: lists_path do |form| %>


  <%= form.text_field :item %>
  <%# <%= hidden_field_tag 'quantity', 1 %> 
  <%# <%= hidden_field_tag 'list_id', $session_id %>


  <div>
    <%= form.submit "Add Item" %>
  </div>
<% end %>
