<p style="color: green"><%= notice %></p>

<h1>SmartCart</h1>

<%
=begin%>
 <div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    <p>
      <%= link_to "Show this list", list %>
    </p>
  <% end %>
</div> 
<%
=end%>

<%= render "form", list: @list %>
<br>
<%= @current_list %>
<br>
<%# <%= link_to "Instructions",  %> 
<br>
<%= link_to "List of stores", stores_path %>